[submodule "plugins_anne/emacs-color-theme-solarized"]
	path = plugins_anne/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "plugins_anne/org2blog"]
	path = plugins_anne/org2blog
	url = http://github.com/punchagan/org2blog.git
[submodule "plugins_anne/emacs-bash-completion"]
	path = plugins_anne/emacs-bash-completion
	url = https://github.com/szermatt/emacs-bash-completion
